# Configurações Gerais do Projeto
PROJECT_NAME="MedSync API"
ENVIRONMENT="development"

# Segurança e JWT
SECRET_KEY="generate-a-secure-random-256-bit-key-using-openssl-rand-hex-32"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES=60
MFA_SECRET_DEV="849201"

# Banco de Dados (SQLModel / SQLAlchemy)
DATABASE_URL="sqlite:///./medsync.db"

# Hardening e CORS
ALLOWED_ORIGINS="http://localhost:3000,https://clinica.medsync.com.br"
LOGIN_RATE_LIMIT_PER_MINUTE=5
