# Ambientes Virtuais
.venv/
venv/
ENV/

# Python Cache
__pycache__/
*.py[cod]
*$py.class
*.so

# Testes e Cobertura
.pytest_cache/
.coverage
htmlcov/

# Banco de dados local SQLite
*.db
*.sqlite
*.sqlite3

# Variáveis de Ambiente e Segredos
.env
*.local

# IDEs
.vscode/
.idea/
*.swp
